:root{
    --cor01: #E7E7DE;
    --cor02: #CDCBA6;
    --cor03: #008891;
    --cor04: #00587A;
    --cor05: #0F3057;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor05);
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    align-items: center;
}
nav{
    text-align: right;

}
a{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Fira Code",Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    
}
a::before{
    content: "";
    background-color: var(--cor02);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
a:hover{
    color: #dddada;
}
a:hover:last-child{
    color: #fff;
}


