.main-section{
    background-color: var(--cor04);
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid var(--cor01);
}
.main-section .main-title{
    margin-bottom: 60px;
}


.main-section.-bg{
    background-color: var(--cor02);
}