h1{
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
    text-shadow: 5px 5px 0 #000;
    font-size: 2em;
}

#button{
    background-color: var(--cor03);
    display: inline-block;
    box-shadow: 5px 5px 0 #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms linear;
}
#button:hover{
    background-color:#02929c;
    transform: scale(1.08);  
}